.h1{
    color: green;
    font-size: 15px;
}
.h2{
    colo:red;
    font-size:22px;
}
.span1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200px;
}
.span2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300px;
}
.div1{
    background-color: yellow;
    width: 400px;
    height: 400px;
    margin-top: 20px;
}
.div2{
    background-color: red;
    height:100px;
    width:200px;
    margin-top: 20px;
}
.div3{
    background-color: green;
    height: 400px;
    width: 300px;
    border-radius: 50%;
    margin-top: 20px;
}
